.{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
.card{
     height:200px;
     width: 480px;
     border-radius: 2rem;
     background-color: rgb(255, 249, 249);
     padding: 1rem;
     margin-left: 1500px;
     position: fixed; 
} 
body{
    position: fixed;
    align-items: center;
    display: flex;
    margin: top 1px;
    justify-content: center;
    height: 100vh;
    background-color:rgb(57, 129, 143);
 }
 .card-box{
    padding: 1rem;
    color:rgb(41, 39, 39)
    
}
.card-10{
    color: rgb(57, 129, 143);
    padding: 1rem;
}
.card-30{
    display: flex;
    
}
.card-30-1{
    margin-left: 50%;
    margin-top: 15px;
}